.gcloudignore
.git
.gitignore

# Node.js dependencies:
node_modules/

# Next.js raw source code (Since we build in the pipeline, we don't need these on the server)
/pages/
/components/
/styles/
/utils/

# sanity blog studio dependencies
/studio/node_modules
/studio/.gitignore

# --------------------------------------------------------
# EXPLICITLY ALLOW THE BUILD FOLDER (The Fix)
# --------------------------------------------------------
!.next/